@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.gradient {
	background-color: #d020a6;
	background-image: linear-gradient(90deg, #9733ee, #d020a6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn-grad {
	background-image: linear-gradient(
		to right,
		#9733ee 0%,
		#d020a6 51%,
		#9733ee 100%
	);
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
}

.btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

.real_radio:checked + .fake_radio {
	@apply bg-primary;
}

.shadow {
	box-shadow: -8px 8px 9px -3px rgba(180, 42, 202, 0.7);
}
